# Python Package : Pandas  --> incomplete/Ongoing

In [1]:
#Importing Packages
import numpy as np
import pandas as pd

#### Pandas Seies

#### More about pandas series here 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html?highlight=series#pandas.Series

In [2]:
#creating a pandas serires
pds = pd.Series([1,2,3,4,5,6])
print(type(pds))
pds

<class 'pandas.core.series.Series'>

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
#creating a pandas serires
pds_1 = pd.Series([1,2,3,4,5,6,np.nan])
pds_1

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
dtype: float64

In [4]:
#retriving the index of the serires,
print(pds_1.index)

#iloc used to select an element based on its location
print("2nd Location using iloc ",pds_1.iloc[2])

#alternate option
print("2nd Location ",pds_1[2])

#shape of the series
print("Shape of the series ",pds_1.shape)

#size of the series
print("Size of the series ",pds_1.size)

RangeIndex(start=0, stop=7, step=1)
2nd Location using iloc  3.0
2nd Location  3.0
Shape of the series  (7,)
Size of the series  7

#### Date Range

In [5]:
#creating a datarange, here the starting date is given and how many sequence more is required. (periods=7)
pd_dates = pd.date_range('20200617',periods=15, freq='W-MON') 
pd_dates

DatetimeIndex(['2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28'],
              dtype='datetime64[ns]', freq='W-MON')

More about this command and its optional functions <br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html <br>
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases

In [6]:
df1 =pd.DataFrame(np.random.randn(15,4),index=pd_dates,columns=["A","B","C","D"])
df2 =pd.DataFrame(np.random.randint(1,45,size=(15,4)),index=pd_dates,columns=["A","B","C","D"])

print(df1)
print("\n")
print(df2)

                   A         B         C         D
2020-06-22 -0.325226  2.237981 -0.063950 -1.058515
2020-06-29 -2.056759 -2.471595  0.975622  0.880131
2020-07-06  1.595104  1.540341 -0.119756  0.532546
2020-07-13 -1.085519 -0.230364 -2.015201  0.110318
2020-07-20  1.551274 -0.452407  0.812804  0.826171
2020-07-27 -1.216091 -0.593574 -1.023134  0.122795
2020-08-03  0.971569 -1.368678 -0.352627  0.746151
2020-08-10  1.311612 -0.696702 -0.473406  2.009396
2020-08-17 -1.194186 -1.397508  0.152531 -0.717400
2020-08-24 -1.453762  0.415799  0.195381 -0.913245
2020-08-31 -0.944620 -2.439772  1.272683 -0.819872
2020-09-07 -1.520700 -0.341874 -0.131000 -0.312698
2020-09-14 -0.055418  0.786891  0.860067  1.584679
2020-09-21 -0.125469  1.146073  0.448385  0.072907
2020-09-28  0.994900  0.039647 -1.183156  1.178371


             A   B   C   D
2020-06-22  24  32  27  32
2020-06-29  30  31   5   8
2020-07-06  23  11  23  14
2020-07-13   2  12   5   9
2020-07-20  23  17  39  22
2020-07-27  17   9  26  11
2020-08-03  34  22  31  18
2020-08-10   4  26  32  41
2020-08-17  41  42   3  20
2020-08-24  42   6  16  43
2020-08-31  18  34  17  23
2020-09-07  34  32  35  14
2020-09-14  37  17  38  42
2020-09-21  29  28   8  31
2020-09-28  14  44   2  13

In [7]:
#printing first 3 elements of the dataframe. if no value specified, it'll take the default value of 5
df1.head(3)

                   A         B         C         D
2020-06-22 -0.325226  2.237981 -0.063950 -1.058515
2020-06-29 -2.056759 -2.471595  0.975622  0.880131
2020-07-06  1.595104  1.540341 -0.119756  0.532546

In [8]:
#peinitng the last 5 rows of the data frame
df1.tail()

                   A         B         C         D
2020-08-31 -0.944620 -2.439772  1.272683 -0.819872
2020-09-07 -1.520700 -0.341874 -0.131000 -0.312698
2020-09-14 -0.055418  0.786891  0.860067  1.584679
2020-09-21 -0.125469  1.146073  0.448385  0.072907
2020-09-28  0.994900  0.039647 -1.183156  1.178371

In [9]:
#printing the index values of the data frame.
df1.index

DatetimeIndex(['2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [10]:
#Prints column names
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
##general info about the dataframe
df1.describe()

               A          B          C          D
count  15.000000  15.000000  15.000000  15.000000
mean   -0.236886  -0.255049  -0.042984   0.282782
std     1.239804   1.352577   0.890363   0.937594
min    -2.056759  -2.471595  -2.015201  -1.058515
25%    -1.205138  -1.032690  -0.413017  -0.515049
50%    -0.325226  -0.341874  -0.063950   0.122795
75%     0.983234   0.601345   0.630594   0.853151
max     1.595104   2.237981   1.272683   2.009396

In [12]:
#sorting the data frame, uncomment one and see the output.


#df1.sort_values('C',ascending=True)
#df1.sort_values('C',ascending=False)
#df1.sort_index(axis=0,ascending=False)
df1.sort_index(axis=0,ascending=True).head()

                   A         B         C         D
2020-06-22 -0.325226  2.237981 -0.063950 -1.058515
2020-06-29 -2.056759 -2.471595  0.975622  0.880131
2020-07-06  1.595104  1.540341 -0.119756  0.532546
2020-07-13 -1.085519 -0.230364 -2.015201  0.110318
2020-07-20  1.551274 -0.452407  0.812804  0.826171

In [13]:
#printing only the first column
df1['A'].head()

2020-06-22   -0.325226
2020-06-29   -2.056759
2020-07-06    1.595104
2020-07-13   -1.085519
2020-07-20    1.551274
Freq: W-MON, Name: A, dtype: float64

In [14]:
#printing the first and the third column
df1[['A','C']].head()

                   A         C
2020-06-22 -0.325226 -0.063950
2020-06-29 -2.056759  0.975622
2020-07-06  1.595104 -0.119756
2020-07-13 -1.085519 -2.015201
2020-07-20  1.551274  0.812804

In [15]:
#printing the first to the third rows
df1[0:3]

                   A         B         C         D
2020-06-22 -0.325226  2.237981 -0.063950 -1.058515
2020-06-29 -2.056759 -2.471595  0.975622  0.880131
2020-07-06  1.595104  1.540341 -0.119756  0.532546

In [16]:
#loc function is used when we know col names
df1.loc[:,['A','C']].head()

                   A         C
2020-06-22 -0.325226 -0.063950
2020-06-29 -2.056759  0.975622
2020-07-06  1.595104 -0.119756
2020-07-13 -1.085519 -2.015201
2020-07-20  1.551274  0.812804

In [17]:
#iloc function used when we know the col numer postions
df1.iloc[0:7,0:3]

                   A         B         C
2020-06-22 -0.325226  2.237981 -0.063950
2020-06-29 -2.056759 -2.471595  0.975622
2020-07-06  1.595104  1.540341 -0.119756
2020-07-13 -1.085519 -0.230364 -2.015201
2020-07-20  1.551274 -0.452407  0.812804
2020-07-27 -1.216091 -0.593574 -1.023134
2020-08-03  0.971569 -1.368678 -0.352627

In [18]:
#Creating a data frame from a dictionary
df3 = pd.DataFrame({ 'A' : [1,2,3,4],
                      'B' : pd.Timestamp('20200618'),
                      'C' : pd.Series(1,index=list(range(4)),dtype="float32"),
                      'D' : np.array([5]*4,dtype='int32'),
                      'E' : pd.Categorical(['True','False','True','True']),
                      'F' : 'Pandas'})

df3

   A          B    C  D      E       F
0  1 2020-06-18  1.0  5   True  Pandas
1  2 2020-06-18  1.0  5  False  Pandas
2  3 2020-06-18  1.0  5   True  Pandas
3  4 2020-06-18  1.0  5   True  Pandas

In [19]:
#Understanding the datatypes of columns in the dataframe
df3.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [20]:
#converting a dataframe to a numpy array
df3.to_numpy()

array([[1, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'True', 'Pandas'],
       [2, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'False', 'Pandas'],
       [3, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'True', 'Pandas'],
       [4, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'True', 'Pandas']],
      dtype=object)