# Python Package : Pandas  --> incomplete/Ongoing

In [1]:
#Importing Packages
import numpy as np
import pandas as pd

#### Pandas Seies

#### More about pandas series here 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html?highlight=series#pandas.Series

In [2]:
#creating a pandas serires
pds = pd.Series([1,2,3,4,5,6])
print(type(pds))
pds

<class 'pandas.core.series.Series'>

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
#creating a pandas serires
pds_1 = pd.Series([1,2,3,4,5,6,np.nan])
pds_1

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
dtype: float64

In [4]:
#retriving the index of the serires,
print(pds_1.index)

#iloc used to select an element based on its location
print("2nd Location using iloc ",pds_1.iloc[2])

#alternate option
print("2nd Location ",pds_1[2])

#shape of the series
print("Shape of the series ",pds_1.shape)

#size of the series
print("Size of the series ",pds_1.size)

RangeIndex(start=0, stop=7, step=1)
2nd Location using iloc  3.0
2nd Location  3.0
Shape of the series  (7,)
Size of the series  7

#### Date Range

In [5]:
#creating a datarange, here the starting date is given and how many sequence more is required. (periods=7)
pd_dates = pd.date_range('20200617',periods=15, freq='W-MON') 
pd_dates

DatetimeIndex(['2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28'],
              dtype='datetime64[ns]', freq='W-MON')

More about this command and its optional functions <br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html <br>
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases

In [6]:
df1 =pd.DataFrame(np.random.randn(15,4),index=pd_dates,columns=["A","B","C","D"])
df2 =pd.DataFrame(np.random.randint(1,45,size=(15,4)),index=pd_dates,columns=["A","B","C","D"])

print(df1)
print("\n")
print(df2)

                   A         B         C         D
2020-06-22 -0.375397 -2.415875  0.635027 -0.998366
2020-06-29  0.489193  1.028506  1.615958  1.080049
2020-07-06  0.690150 -0.925103  0.363888 -0.397817
2020-07-13 -0.358573 -2.517298  0.865869  1.696605
2020-07-20 -0.805582 -0.023050  2.099296  0.740397
2020-07-27  0.256385  0.076932  0.576259 -2.619161
2020-08-03  1.392580 -1.814585  0.528952 -0.450159
2020-08-10  1.166942 -0.096442 -0.583863 -2.013085
2020-08-17 -1.383074  0.325274 -0.208787 -0.744221
2020-08-24 -0.669833  1.505303  0.946601 -0.284169
2020-08-31 -0.294401  0.232658  0.358700  0.422491
2020-09-07 -1.001599  0.742470  0.222089  0.406754
2020-09-14 -0.776627  0.482336  0.373218 -1.056231
2020-09-21  1.097836 -2.843500  0.921609  0.388054
2020-09-28 -2.027722 -0.254971 -0.791811  0.697453


             A   B   C   D
2020-06-22  10  10  19   2
2020-06-29  39  43  12  28
2020-07-06  31  26   8  22
2020-07-13  36  28  42  32
2020-07-20  20  13  30  21
2020-07-27  44   5  26  19
2020-08-03  38  25  19  18
2020-08-10  33  19  23   9
2020-08-17  29  11  17  16
2020-08-24  33  22  15  15
2020-08-31   6  36  43  23
2020-09-07  36  15  26  11
2020-09-14  26  37  21  29
2020-09-21  28  32  11  27
2020-09-28  43  42  39  14

In [7]:
#Creating a data frame from a dictionary
df3 = pd.DataFrame({ 'A' : [1,2,3,4],
                      'B' : pd.Timestamp('20200618'),
                      'C' : pd.Series(1,index=list(range(4)),dtype="float32"),
                      'D' : np.array([5]*4,dtype='int32'),
                      'E' : pd.Categorical(['True','False','True','True']),
                      'F' : 'Pandas'})

df3

   A          B    C  D      E       F
0  1 2020-06-18  1.0  5   True  Pandas
1  2 2020-06-18  1.0  5  False  Pandas
2  3 2020-06-18  1.0  5   True  Pandas
3  4 2020-06-18  1.0  5   True  Pandas

In [8]:
#Understanding the datatypes of columns in the dataframe
df3.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
#converting a dataframe to a numpy array
df3.to_numpy()

array([[1, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'True', 'Pandas'],
       [2, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'False', 'Pandas'],
       [3, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'True', 'Pandas'],
       [4, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'True', 'Pandas']],
      dtype=object)

In [10]:
#printing first 3 elements of the dataframe. if no value specified, it'll take the default value of 5
df1.head(3)

                   A         B         C         D
2020-06-22 -0.375397 -2.415875  0.635027 -0.998366
2020-06-29  0.489193  1.028506  1.615958  1.080049
2020-07-06  0.690150 -0.925103  0.363888 -0.397817

In [11]:
#peinitng the last 5 rows of the data frame
df1.tail()

                   A         B         C         D
2020-08-31 -0.294401  0.232658  0.358700  0.422491
2020-09-07 -1.001599  0.742470  0.222089  0.406754
2020-09-14 -0.776627  0.482336  0.373218 -1.056231
2020-09-21  1.097836 -2.843500  0.921609  0.388054
2020-09-28 -2.027722 -0.254971 -0.791811  0.697453

In [12]:
#printing the index values of the data frame.
df1.index

DatetimeIndex(['2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [13]:
#Prints column names
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
##general info about the dataframe
df1.describe()

               A          B          C          D
count  15.000000  15.000000  15.000000  15.000000
mean   -0.173315  -0.433156   0.528200  -0.208761
std     0.997202   1.361230   0.746652   1.163149
min    -2.027722  -2.843500  -0.791811  -2.619161
25%    -0.791104  -1.369844   0.290394  -0.871293
50%    -0.358573  -0.023050   0.528952  -0.284169
75%     0.589671   0.403805   0.893739   0.559972
max     1.392580   1.505303   2.099296   1.696605

In [15]:
#sorting the data frame, uncomment one and see the output.


#df1.sort_values('C',ascending=True)
#df1.sort_values('C',ascending=False)
#df1.sort_index(axis=0,ascending=False)
df1.sort_index(axis=0,ascending=True).head()

                   A         B         C         D
2020-06-22 -0.375397 -2.415875  0.635027 -0.998366
2020-06-29  0.489193  1.028506  1.615958  1.080049
2020-07-06  0.690150 -0.925103  0.363888 -0.397817
2020-07-13 -0.358573 -2.517298  0.865869  1.696605
2020-07-20 -0.805582 -0.023050  2.099296  0.740397

In [16]:
#printing only the first column
df1['A'].head()

2020-06-22   -0.375397
2020-06-29    0.489193
2020-07-06    0.690150
2020-07-13   -0.358573
2020-07-20   -0.805582
Freq: W-MON, Name: A, dtype: float64

In [17]:
#printing the first and the third column
df1[['A','C']].head()

                   A         C
2020-06-22 -0.375397  0.635027
2020-06-29  0.489193  1.615958
2020-07-06  0.690150  0.363888
2020-07-13 -0.358573  0.865869
2020-07-20 -0.805582  2.099296

In [18]:
#printing the first to the third rows
df1[0:3]

                   A         B         C         D
2020-06-22 -0.375397 -2.415875  0.635027 -0.998366
2020-06-29  0.489193  1.028506  1.615958  1.080049
2020-07-06  0.690150 -0.925103  0.363888 -0.397817

In [19]:
#loc function is used when we know col names
df1.loc[:,['A','C']].head()

                   A         C
2020-06-22 -0.375397  0.635027
2020-06-29  0.489193  1.615958
2020-07-06  0.690150  0.363888
2020-07-13 -0.358573  0.865869
2020-07-20 -0.805582  2.099296

In [20]:
#iloc function used when we know the col numer postions
df1.iloc[0:7,0:3]

                   A         B         C
2020-06-22 -0.375397 -2.415875  0.635027
2020-06-29  0.489193  1.028506  1.615958
2020-07-06  0.690150 -0.925103  0.363888
2020-07-13 -0.358573 -2.517298  0.865869
2020-07-20 -0.805582 -0.023050  2.099296
2020-07-27  0.256385  0.076932  0.576259
2020-08-03  1.392580 -1.814585  0.528952

In [21]:
## the first function is printing the value for the rows which satisfies the conditions
print(df1['A'] > 1.2)

##this command uses the above argument as a filter
df1[df1['A'] > 0.8]

2020-06-22    False
2020-06-29    False
2020-07-06    False
2020-07-13    False
2020-07-20    False
2020-07-27    False
2020-08-03     True
2020-08-10    False
2020-08-17    False
2020-08-24    False
2020-08-31    False
2020-09-07    False
2020-09-14    False
2020-09-21    False
2020-09-28    False
Freq: W-MON, Name: A, dtype: bool

                   A         B         C         D
2020-08-03  1.392580 -1.814585  0.528952 -0.450159
2020-08-10  1.166942 -0.096442 -0.583863 -2.013085
2020-09-21  1.097836 -2.843500  0.921609  0.388054

##### Handiling Missing Data

In [22]:
df1.head(3)

                   A         B         C         D
2020-06-22 -0.375397 -2.415875  0.635027 -0.998366
2020-06-29  0.489193  1.028506  1.615958  1.080049
2020-07-06  0.690150 -0.925103  0.363888 -0.397817

In [23]:
d=df1.index
df_4 = df1.reindex(index=d[0:4],columns=list(df1.columns)+['E'])
#df_4 = df1.reindex(index=df1.index[0:4],columns=list(df1.columns)+['E'])
df_4

                   A         B         C         D   E
2020-06-22 -0.375397 -2.415875  0.635027 -0.998366 NaN
2020-06-29  0.489193  1.028506  1.615958  1.080049 NaN
2020-07-06  0.690150 -0.925103  0.363888 -0.397817 NaN
2020-07-13 -0.358573 -2.517298  0.865869  1.696605 NaN

In [24]:
#df_4.loc[d[0:2],'E']=1.2
df_4.iloc[1,4]=1.6
df_4.iloc[0,4]=0.7
df_4

                   A         B         C         D    E
2020-06-22 -0.375397 -2.415875  0.635027 -0.998366  0.7
2020-06-29  0.489193  1.028506  1.615958  1.080049  1.6
2020-07-06  0.690150 -0.925103  0.363888 -0.397817  NaN
2020-07-13 -0.358573 -2.517298  0.865869  1.696605  NaN

In [25]:
df_4.isnull()

                A      B      C      D      E
2020-06-22  False  False  False  False  False
2020-06-29  False  False  False  False  False
2020-07-06  False  False  False  False   True
2020-07-13  False  False  False  False   True

In [26]:
df_4.isnull().sum()

A    0
B    0
C    0
D    0
E    2
dtype: int64

In [27]:
#to remove the nulls

print(df_4.dropna())
df_4

#df_4.dropna(inplace=True)

                   A         B         C         D    E
2020-06-22 -0.375397 -2.415875  0.635027 -0.998366  0.7
2020-06-29  0.489193  1.028506  1.615958  1.080049  1.6

                   A         B         C         D    E
2020-06-22 -0.375397 -2.415875  0.635027 -0.998366  0.7
2020-06-29  0.489193  1.028506  1.615958  1.080049  1.6
2020-07-06  0.690150 -0.925103  0.363888 -0.397817  NaN
2020-07-13 -0.358573 -2.517298  0.865869  1.696605  NaN

In [28]:
print(df_4['E'].fillna(df_4['E'].mean))
#df_4.fillna(df_4['E'].mean)
df_4

2020-06-22                                                  0.7
2020-06-29                                                  1.6
2020-07-06    <bound method Series.mean of 2020-06-22    0.7...
2020-07-13    <bound method Series.mean of 2020-06-22    0.7...
Freq: W-MON, Name: E, dtype: object

                   A         B         C         D    E
2020-06-22 -0.375397 -2.415875  0.635027 -0.998366  0.7
2020-06-29  0.489193  1.028506  1.615958  1.080049  1.6
2020-07-06  0.690150 -0.925103  0.363888 -0.397817  NaN
2020-07-13 -0.358573 -2.517298  0.865869  1.696605  NaN

In [29]:
#under investigation
#df_4['E']=df_4.fillna(df_4['E'].mean)
df_4

                   A         B         C         D         E
2020-06-22 -0.375397 -2.415875  0.635027 -0.998366 -0.375397
2020-06-29  0.489193  1.028506  1.615958  1.080049  0.489193
2020-07-06  0.690150 -0.925103  0.363888 -0.397817   0.69015
2020-07-13 -0.358573 -2.517298  0.865869  1.696605 -0.358573

Refferenc 	
    20) Replacing NAN/Null values with data
	train.loc[pd.isnull(train['Outlet_Size']),['Outlet_Size']] = 'Medium'
train.loc[pd.isna(train.Outlet_Size),['Outlet_Size']] = "Small"