# Python Package : Pandas  --> incomplete/Ongoing

In [1]:
#Importing Packages
import numpy as np
import pandas as pd

#### Pandas Seies

#### More about pandas series here 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html?highlight=series#pandas.Series

In [2]:
#creating a pandas serires
pds = pd.Series([1,2,3,4,5,6])
print(type(pds))
pds

<class 'pandas.core.series.Series'>

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
#creating a pandas serires
pds_1 = pd.Series([1,2,3,4,5,6,np.nan])
pds_1

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
dtype: float64

In [4]:
#retriving the index of the serires,
print(pds_1.index)

#iloc used to select an element based on its location
print("2nd Location using iloc ",pds_1.iloc[2])

#alternate option
print("2nd Location ",pds_1[2])

#shape of the series
print("Shape of the series ",pds_1.shape)

#size of the series
print("Size of the series ",pds_1.size)

RangeIndex(start=0, stop=7, step=1)
2nd Location using iloc  3.0
2nd Location  3.0
Shape of the series  (7,)
Size of the series  7

#### Date Range

In [5]:
#creating a datarange, here the starting date is given and how many sequence more is required. (periods=7)
pd_dates = pd.date_range('20200617',periods=7, freq='W-MON') 
pd_dates

DatetimeIndex(['2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03'],
              dtype='datetime64[ns]', freq='W-MON')

More about this command and its optional functions <br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html <br>
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases

In [6]:
df1 =pd.DataFrame(np.random.randn(7,4),index=pd_dates,columns=["A","B","C","D"])
df2 =pd.DataFrame(np.random.randint(1,45,size=(7,4)),index=pd_dates,columns=["A","B","C","D"])

print(df1)
print("\n")
print(df2)

                   A         B         C         D
2020-06-22 -1.658151  1.190667 -0.910104  0.591804
2020-06-29 -0.016784 -0.439309 -1.450324 -0.285418
2020-07-06  0.067929 -0.002301 -2.202311  0.992971
2020-07-13  0.926093 -0.041955 -0.436063 -0.910181
2020-07-20  1.938488 -0.192488  2.131447 -0.965367
2020-07-27 -0.788416  0.981249 -0.080653  0.219150
2020-08-03  1.259946  0.002680  0.203290  0.209012


             A   B   C   D
2020-06-22   4  13  10  13
2020-06-29  24  35  19  21
2020-07-06   2  17   3  26
2020-07-13  34  13  29  32
2020-07-20  26  24   7  18
2020-07-27  10  32  24  29
2020-08-03  29  37  26  27

In [10]:
#Creating a data frame from a dictionary
df_3 = pd.DataFrame({ 'A' : [1,2,3,4],
                      'B' : pd.Timestamp('20200618'),
                      'C' : pd.Series(1,index=list(range(4)),dtype="float32"),
                      'D' : np.array([5]*4,dtype='int32'),
                      'E' : pd.Categorical(['True','False','True','True']),
                      'F' : 'Pandas'})

df_3

   A          B    C  D      E       F
0  1 2020-06-18  1.0  5   True  Pandas
1  2 2020-06-18  1.0  5  False  Pandas
2  3 2020-06-18  1.0  5   True  Pandas
3  4 2020-06-18  1.0  5   True  Pandas