# Python Package : Pandas  --> incomplete/Ongoing

In [1]:
#Importing Packages
import numpy as np
import pandas as pd
import os

In [2]:
#identifying the current working directory
os.getcwd()

'C:\\Users\\Darshan Sreenath\\Python_Learning'

#### Pandas Seies

#### More about pandas series here 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html?highlight=series#pandas.Series <b>

https://www.youtube.com/watch?v=UB3DE5Bgfx4

In [3]:
#creating a pandas serires
pds = pd.Series([1,2,3,4,5,6])
print(type(pds))
pds

<class 'pandas.core.series.Series'>

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [4]:
#creating a pandas serires
pds_1 = pd.Series([1,2,3,4,5,6,np.nan])
pds_1

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
dtype: float64

In [5]:
#retriving the index of the serires,
print(pds_1.index)

#iloc used to select an element based on its location
print("2nd Index Location using iloc ",pds_1.iloc[2])

#alternate option
print("2nd Index Location ",pds_1[2])

#shape of the series
print("Shape of the series ",pds_1.shape)

#size of the series
print("Size of the series ",pds_1.size)

print("printing first 3 elements of pds_1")
pds_1[0:3]

RangeIndex(start=0, stop=7, step=1)
2nd Index Location using iloc  3.0
2nd Index Location  3.0
Shape of the series  (7,)
Size of the series  7
printing first 3 elements of pds_1

0    1.0
1    2.0
2    3.0
dtype: float64

#### Date Range

In [6]:
pd_dates_0 = pd.date_range('20200620',periods=15) 
pd_dates_0

DatetimeIndex(['2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23',
               '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27',
               '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01',
               '2020-07-02', '2020-07-03', '2020-07-04'],
              dtype='datetime64[ns]', freq='D')

In [7]:
#creating a datarange, here the starting date is given and how many sequence more is required. (periods=7)
pd_dates = pd.date_range('20200617',periods=15, freq='W-MON') 
pd_dates

DatetimeIndex(['2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28'],
              dtype='datetime64[ns]', freq='W-MON')

More about this command and its optional functions <br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html <br>
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases

In [8]:
df1 =pd.DataFrame(np.random.randn(15,4),index=pd_dates,columns=["A","B","C","D"])
df2 =pd.DataFrame(np.random.randint(1,45,size=(15,4)),index=pd_dates,columns=["A","B","C","D"])

print(df1)
print("\n")
print(df2)

                   A         B         C         D
2020-06-22  0.948587  1.094227 -0.627280  0.597765
2020-06-29  0.291160 -1.399320 -1.007494  0.584781
2020-07-06  0.606298  0.541170 -0.830940  0.246130
2020-07-13  1.534946 -1.437906  0.183781 -1.489852
2020-07-20  0.459891 -0.536675  0.957539 -1.591343
2020-07-27 -0.829559 -1.662675  1.432649 -0.858122
2020-08-03 -0.331475 -1.773617  0.619717 -0.379987
2020-08-10  0.948891 -0.975398  1.550133 -0.216975
2020-08-17 -0.963878  0.861792 -1.413231  0.183258
2020-08-24 -0.660353  1.839491  0.242352  0.220918
2020-08-31 -0.515028 -0.625974  1.003120  1.228489
2020-09-07 -0.418004 -0.400732  0.556712 -0.327226
2020-09-14 -0.419718  1.701421  1.135734  0.113776
2020-09-21  0.694068  2.466751 -2.453817 -0.656948
2020-09-28  0.157896  1.300535 -1.094482  0.481147


             A   B   C   D
2020-06-22   2  44  44   9
2020-06-29  29  36  41  25
2020-07-06   5  20  33  22
2020-07-13   4  40  44  25
2020-07-20  44  20  42  41
2020-07-27  27   5  39  30
2020-08-03  26  30  24  19
2020-08-10  21  26   8   5
2020-08-17  32  33  33  11
2020-08-24   4   5  18  39
2020-08-31  28  37  23  12
2020-09-07  11   8  38  11
2020-09-14   7   9   8  21
2020-09-21   4   4  27  43
2020-09-28   8  12   4  17

In [9]:
#Creating a data frame from a dictionary
df3 = pd.DataFrame({ 'A' : [1,2,3,4],
                      'B' : pd.Timestamp('20200618'),
                      'C' : pd.Series(1,index=list(range(4)),dtype="float32"),
                      'D' : np.array([5]*4,dtype='int32'),
                      'E' : pd.Categorical(['True','False','True','True']),
                      'F' : 'Pandas'})

df3

   A          B    C  D      E       F
0  1 2020-06-18  1.0  5   True  Pandas
1  2 2020-06-18  1.0  5  False  Pandas
2  3 2020-06-18  1.0  5   True  Pandas
3  4 2020-06-18  1.0  5   True  Pandas

In [10]:
#Understanding the datatypes of columns in the dataframe
df3.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
#converting a dataframe to a numpy array
df3.to_numpy()

array([[1, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'True', 'Pandas'],
       [2, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'False', 'Pandas'],
       [3, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'True', 'Pandas'],
       [4, Timestamp('2020-06-18 00:00:00'), 1.0, 5, 'True', 'Pandas']],
      dtype=object)

In [12]:
#printing first 3 elements of the dataframe. if no value specified, it'll take the default value of 5
df1.head(3)

                   A         B         C         D
2020-06-22  0.948587  1.094227 -0.627280  0.597765
2020-06-29  0.291160 -1.399320 -1.007494  0.584781
2020-07-06  0.606298  0.541170 -0.830940  0.246130

In [13]:
#peinitng the last 5 rows of the data frame
df1.tail()

                   A         B         C         D
2020-08-31 -0.515028 -0.625974  1.003120  1.228489
2020-09-07 -0.418004 -0.400732  0.556712 -0.327226
2020-09-14 -0.419718  1.701421  1.135734  0.113776
2020-09-21  0.694068  2.466751 -2.453817 -0.656948
2020-09-28  0.157896  1.300535 -1.094482  0.481147

In [14]:
#printing the index values of the data frame.
df1.index

DatetimeIndex(['2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [15]:
#Prints column names
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
##general info about the dataframe
df1.describe()

               A          B          C          D
count  15.000000  15.000000  15.000000  15.000000
mean    0.100248   0.066206   0.016966  -0.124279
std     0.753818   1.412942   1.188213   0.782977
min    -0.963878  -1.773617  -2.453817  -1.591343
25%    -0.467373  -1.187359  -0.919217  -0.518468
50%     0.157896  -0.400732   0.242352   0.113776
75%     0.650183   1.197381   0.980329   0.363639
max     1.534946   2.466751   1.550133   1.228489

In [17]:
#sorting the data frame, uncomment one and see the output.

#df1.sort_values('C',ascending=True)
#df1.sort_values('C',ascending=False)
#df1.sort_index(axis=0,ascending=False)  ### sorting on the basis of index.
df1.sort_index(axis=0,ascending=True).head()

                   A         B         C         D
2020-06-22  0.948587  1.094227 -0.627280  0.597765
2020-06-29  0.291160 -1.399320 -1.007494  0.584781
2020-07-06  0.606298  0.541170 -0.830940  0.246130
2020-07-13  1.534946 -1.437906  0.183781 -1.489852
2020-07-20  0.459891 -0.536675  0.957539 -1.591343

In [18]:
#printing only the first column
df1['A'].head()

2020-06-22    0.948587
2020-06-29    0.291160
2020-07-06    0.606298
2020-07-13    1.534946
2020-07-20    0.459891
Freq: W-MON, Name: A, dtype: float64

In [19]:
#printing the first and the third column
df1[['A','C']].head()

                   A         C
2020-06-22  0.948587 -0.627280
2020-06-29  0.291160 -1.007494
2020-07-06  0.606298 -0.830940
2020-07-13  1.534946  0.183781
2020-07-20  0.459891  0.957539

In [20]:
#printing the first to the third rows
df1[0:3]

                   A         B         C         D
2020-06-22  0.948587  1.094227 -0.627280  0.597765
2020-06-29  0.291160 -1.399320 -1.007494  0.584781
2020-07-06  0.606298  0.541170 -0.830940  0.246130

In [21]:
#loc function is used when we know col names
df1.loc[:,['A','C']].head()

                   A         C
2020-06-22  0.948587 -0.627280
2020-06-29  0.291160 -1.007494
2020-07-06  0.606298 -0.830940
2020-07-13  1.534946  0.183781
2020-07-20  0.459891  0.957539

In [22]:
#iloc function used when we know the col numer postions
df1.iloc[0:7,0:3]

                   A         B         C
2020-06-22  0.948587  1.094227 -0.627280
2020-06-29  0.291160 -1.399320 -1.007494
2020-07-06  0.606298  0.541170 -0.830940
2020-07-13  1.534946 -1.437906  0.183781
2020-07-20  0.459891 -0.536675  0.957539
2020-07-27 -0.829559 -1.662675  1.432649
2020-08-03 -0.331475 -1.773617  0.619717

In [23]:
## the first function is printing the value for the rows which satisfies the conditions
print(df1['A'] > 1.2)

##this command uses the above argument as a filter
df1[df1['A'] > 0.8]

2020-06-22    False
2020-06-29    False
2020-07-06    False
2020-07-13     True
2020-07-20    False
2020-07-27    False
2020-08-03    False
2020-08-10    False
2020-08-17    False
2020-08-24    False
2020-08-31    False
2020-09-07    False
2020-09-14    False
2020-09-21    False
2020-09-28    False
Freq: W-MON, Name: A, dtype: bool

                   A         B         C         D
2020-06-22  0.948587  1.094227 -0.627280  0.597765
2020-07-13  1.534946 -1.437906  0.183781 -1.489852
2020-08-10  0.948891 -0.975398  1.550133 -0.216975

##### Handiling Missing Data

In [24]:
#printing first 3 values to see
df1.head(3)

                   A         B         C         D
2020-06-22  0.948587  1.094227 -0.627280  0.597765
2020-06-29  0.291160 -1.399320 -1.007494  0.584781
2020-07-06  0.606298  0.541170 -0.830940  0.246130

In [25]:
#viewing the index of the data frame df1
df1.index

DatetimeIndex(['2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [26]:
#assigning the index values of df1 to D
d=df1.index

#creatning a dataframe df_4, there are two menthods mentioned belwo
df_4 = df1.reindex(index=d[0:4],columns=list(df1.columns)+['E'])  ## reindex similar to set subset

#alternate method below
#df_4 = df1.reindex(index=df1.index[0:4],columns=list(df1.columns)+['E'])

#printing the dataframe
df_4

                   A         B         C         D   E
2020-06-22  0.948587  1.094227 -0.627280  0.597765 NaN
2020-06-29  0.291160 -1.399320 -1.007494  0.584781 NaN
2020-07-06  0.606298  0.541170 -0.830940  0.246130 NaN
2020-07-13  1.534946 -1.437906  0.183781 -1.489852 NaN

In [27]:
#allocating values to the nan columns
df_4.iloc[0,4]=0.7
df_4.iloc[1,4]=1.6

#printing 
df_4

                   A         B         C         D    E
2020-06-22  0.948587  1.094227 -0.627280  0.597765  0.7
2020-06-29  0.291160 -1.399320 -1.007494  0.584781  1.6
2020-07-06  0.606298  0.541170 -0.830940  0.246130  NaN
2020-07-13  1.534946 -1.437906  0.183781 -1.489852  NaN

In [28]:
#checking for the presense of nan
df_4.isnull()

                A      B      C      D      E
2020-06-22  False  False  False  False  False
2020-06-29  False  False  False  False  False
2020-07-06  False  False  False  False   True
2020-07-13  False  False  False  False   True

In [29]:
#counting the number of nan column wise.
df_4.isnull().sum()

A    0
B    0
C    0
D    0
E    2
dtype: int64

In [30]:
#to remove the nulls
print(df_4.dropna()) 

#df_4 = df_4.dropna()  ##drop the null values and saves it to the same
#df_4.dropna(inplace=True)

df_4

                   A         B         C         D    E
2020-06-22  0.948587  1.094227 -0.627280  0.597765  0.7
2020-06-29  0.291160 -1.399320 -1.007494  0.584781  1.6

                   A         B         C         D    E
2020-06-22  0.948587  1.094227 -0.627280  0.597765  0.7
2020-06-29  0.291160 -1.399320 -1.007494  0.584781  1.6
2020-07-06  0.606298  0.541170 -0.830940  0.246130  NaN
2020-07-13  1.534946 -1.437906  0.183781 -1.489852  NaN

In [31]:
#backup/copy of the dataframe
df4_copy = df_4.copy()

In [32]:
#replacing the actual value with nulls for an experiment
df4_copy.iloc[3,0]=np.nan
df4_copy

                   A         B         C         D    E
2020-06-22  0.948587  1.094227 -0.627280  0.597765  0.7
2020-06-29  0.291160 -1.399320 -1.007494  0.584781  1.6
2020-07-06  0.606298  0.541170 -0.830940  0.246130  NaN
2020-07-13       NaN -1.437906  0.183781 -1.489852  NaN

In [33]:
#checking for nulls
pd.isna(df4_copy)

                A      B      C      D      E
2020-06-22  False  False  False  False  False
2020-06-29  False  False  False  False  False
2020-07-06  False  False  False  False   True
2020-07-13   True  False  False  False   True

In [34]:
#replacing all null values 
df4_copy.fillna(value=2.0,inplace=True)
df4_copy

                   A         B         C         D    E
2020-06-22  0.948587  1.094227 -0.627280  0.597765  0.7
2020-06-29  0.291160 -1.399320 -1.007494  0.584781  1.6
2020-07-06  0.606298  0.541170 -0.830940  0.246130  2.0
2020-07-13  2.000000 -1.437906  0.183781 -1.489852  2.0

In [35]:
#both these functions are same #df_4.isnull() or pd.isnull(df_4)
pd.isnull(df_4)

                A      B      C      D      E
2020-06-22  False  False  False  False  False
2020-06-29  False  False  False  False  False
2020-07-06  False  False  False  False   True
2020-07-13  False  False  False  False   True

In [36]:
#printing 
df_4

                   A         B         C         D    E
2020-06-22  0.948587  1.094227 -0.627280  0.597765  0.7
2020-06-29  0.291160 -1.399320 -1.007494  0.584781  1.6
2020-07-06  0.606298  0.541170 -0.830940  0.246130  NaN
2020-07-13  1.534946 -1.437906  0.183781 -1.489852  NaN

In [37]:
#replacing the missing values of column E with the average/mean 
df_4.loc[pd.isnull(df_4['E']),['E']] = df_4['E'].mean()
df_4

                   A         B         C         D     E
2020-06-22  0.948587  1.094227 -0.627280  0.597765  0.70
2020-06-29  0.291160 -1.399320 -1.007494  0.584781  1.60
2020-07-06  0.606298  0.541170 -0.830940  0.246130  1.15
2020-07-13  1.534946 -1.437906  0.183781 -1.489852  1.15