# Python Basics Learning Pack

#### Refferences
https://www.pythoncheatsheet.org/ <br> https://www.w3schools.com/python/default.asp <br> https://www.geeksforgeeks.org/python-tutorial/?ref=leftbar-rightbar <br> https://www.edureka.co/blog/python-tutorial/?utm_source=youtube&utm_campaign=python-tutorial-020617-wr&utm_medium=description

## Day 1

### Jupyter Notebook quick help
#### m 		--> Markdown/comment <br>y 		--> code <br> A 		--> Insert line above <br>B		 --> insert line below <br>dd 	--> delete <br>"-  " 	--> bullet <br>z 		--> undo <br>f 		--> find and replace

Lets start with printing a text. <br> here the "\n" is used to start a new line while printing

In [1]:
print("Hello. \nHow are you?")

Lets see the data types in python

#### Python has the following data types built-in by default, in these categories:
#### Text Type		:	str <br> Numeric Types	:	int, float, complex <br>Sequence Types	:	list, tuple, range <br>Mapping Type	:	dict <br>Set Types		:	set, frozenset <br>Boolean Type	:	bool <br>Binary Types	:	bytes, bytearray, memoryview

Lets see some basic mathematical functions. <br>
so we are assigining some values to few variables.

In [2]:
a=10
b=5
c=6
d="test"

lets see what kind of variable is that

In [3]:
type(a) ## the command to check its type

int

In [4]:
print ("a =",a,"\nb =",b,"\nc =",c)
print("a+b =",a+b)
print("a-b =",a-b)
print("a/b =",a/b)
print("a*b =",a*b)
print("a**b =",a**b, " || its also called the exponentail function")
print("c%b =",c%b, " || it gives the reminder")

a = 10
b = 5
c = 6
a+b = 15
a-b = 5
a/b = 2.0
a*b = 50
a**b = 100000  || its also called the exponentail function
c%b = 1  || it gives the reminder

### String Operations

In [5]:
#Hardcoding and Dynamic Method  || note: if you want to use hardcoding remove the comment in line 2 and 3
print("Enter First Name")
name1 = input()
print("\nEnter Last Name")
name2 = input()

Enter First Name
Darshan

Enter Last Name
S

In [6]:
#string concat function
print(name1+" "+name2)

Darshan S

In [7]:
#repeating string
name1*3

'DarshanDarshanDarshan'

In [8]:
(name1+"_"+name2+"_")*3

'Darshan_S_Darshan_S_Darshan_S_'

In [9]:
#Removing spaces
sentense = "  hello there how are you?    "
sen ="blah blah blah%%%"
print(sentense)
print(len(sentense))

print(sentense.rstrip())
print(len(sentense.rstrip()))  ### removing spcae at right side.

print(sentense.lstrip())       ### removing spaces at left side.
print(len(sentense.lstrip()))


print(sentense.strip())       ### removing space at both sides.
print(len(sentense.strip()),"\n")


print(sentense.split(" "),"\n")  ### splitting the sentenses into words whereever there is a space.

print(sentense.strip().split(" "),"\n")  ### removing spaces first, then splitting.

new_var = sentense.strip().split(" ")
print(new_var,"\n")

print(sen,"\n") 
print(sen.strip("%"))  ### removing the undesired characters

  hello there how are you?
30
  hello there how are you?
26
hello there how are you?
28
hello there how are you?
24

['', '', 'hello', 'there', 'how', 'are', 'you?', '', '', '', '']

['hello', 'there', 'how', 'are', 'you?']

['hello', 'there', 'how', 'are', 'you?']

blah blah blah%%%

blah blah blah

In [10]:
#Accepting values during runtime
print('What is your name?')   # ask for their name
myName = input()

print('It is good to meet you, {}'.format(myName))
##or you can print like

print('It is good to meet you, ',myName)

#printing multiple vatiables. using name1 and name2 used in the above section

print("Hi i'm {0}, It is good to meet you, {1} {2}".format(myName,name1,name2))

print("Hi i'm {1} {2}, It is good to meet you, {0}".format(myName,name1,name2))

What is your name?
Sanju
It is good to meet you, Sanju
It is good to meet you,  Sanju
Hi i'm Sanju, It is good to meet you, Darshan S
Hi i'm Darshan S, It is good to meet you, Sanju

In [11]:
#length function
print(myName)
len('myName')

Sanju

6

In [12]:
#converting integer or any other data type to string.
print(a)
print(type(a))
print(str(a))
print(type(str(a)))

10
<class 'int'>
10
<class 'str'>

In [13]:
str(-3.14)

'-3.14'

### Boolean Operations

In [14]:
5 > 3

True

In [15]:
42 == '42'

False

In [16]:
(4 < 5) and (5 < 6)

True

In [17]:
2 + 2 == 4 and not 2 + 2 == 5 and 2 * 2 == 2 + 2

#(2 + 2 == 4) and (not (2 + 2 == 5)) and (2 * 2 == 2 + 2)

True

### Increment/Decrement Operations

In [18]:
### Increment/Decrement Operations

inc=9
print("ogiginal inc",inc)

ogiginal inc 9

In [19]:
### Increment/Decrement Operations
print("enter a sample number")
#inc=9
inc=int(input())
print("ogiginal inc",inc)

inc+=3 ## it is equivalent to inc=inc+3
print("updated/incremented inc",inc)

inc-=5  ## it is equivalent to inc=inc-5
print("updated/decremented inc",inc)

enter a sample number
85
ogiginal inc 85
updated/incremented inc 88
updated/decremented inc 83

### More string opeations

In [20]:
m_str_ops ="7 Apples"
print(m_str_ops)
print("0th Location :",m_str_ops[0])
print("5th Location :",m_str_ops[5])
print("2nd Location :",m_str_ops[2])

print("0th to 4th Location :",m_str_ops[0:5])
print("note : when giving range it takes n-1 value for the upper limit")

print("Hope you got the idea by now")

7 Apples
0th Location : 7
5th Location : l
2nd Location : A
0th to 4th Location : 7 App
note : when giving range it takes n-1 value for the upper limit
Hope you got the idea by now

In [21]:
#Split and Join

my_words="Hello there, How are you?"
print(my_words)
print(type(my_words))

print("splitting the sentense by ',' into a list ")
my_words_split=my_words.split(',')


print(my_words_split)
print(type(my_words_split))

print("\nRejoining the splitted words")
#print(" ".join(my_words_split))    
",".join(my_words_split)

Hello there, How are you?
<class 'str'>
splitting the sentense by ',' into a list
['Hello there', ' How are you?']
<class 'list'>

Rejoining the splitted words

'Hello there, How are you?'

## Data Structures

#### The data structure available in python are as follows
List <br> Tuples <br> Dictonary and <br> Sets

#### List
List (denoted by square brackets) <br>
elements can be a character, a string or even be a list.

In [22]:
trial_list =[]
da_lang = ['python','R','SAS','BLAH','BLAH2','C','C++','Scala',42]

print(da_lang)

#indexing, similar as above.
print("indexing examples")
print("0th elemet",da_lang[0])
print("2nd element",da_lang[2])

print("0-3rd element",da_lang[0:4])
print("here the count start from 0, and to get to 3rd element we need to follow the rule n+1")
print("i.e to get to 3rd we have give 0:4")

['python', 'R', 'SAS', 'BLAH', 'BLAH2', 'C', 'C++', 'Scala', 42]
indexing examples
0th elemet python
2nd element SAS
0-3rd element ['python', 'R', 'SAS', 'BLAH']
here the count start from 0, and to get to 3rd element we need to follow the rule n+1
i.e to get to 3rd we have give 0:4

In [23]:
#functions in a list.
#pop split join append

print("removing 42 from the da_lang list, with command da_lang.pop()")
da_lang.pop() ## it deletes the last element.
print(da_lang)
print("Note : if you keep on running this again and again, it'll keep on deleting the last element form the list")
print("pls give it a try, when you get error pls execute the line above to recreate the list")

removing 42 from the da_lang list, with command da_lang.pop()
['python', 'R', 'SAS', 'BLAH', 'BLAH2', 'C', 'C++', 'Scala']
Note : if you keep on running this again and again, it'll keep on deleting the last element form the list
pls give it a try, when you get error pls execute the line above to recreate the list

In [24]:
#to remove an element has two options 
# 1) if you know the location we can use pop() function
# 2) if you know the data content we can use remove function 
#example da_lang.remove('BLAH')
da_lang.remove('BLAH')
print(da_lang)

['python', 'R', 'SAS', 'BLAH2', 'C', 'C++', 'Scala']

In [25]:
#to remove specific value form a list.

print("to remove the word blah2 for the list, its at location 3, Soooo")
da_lang.pop(3)
print(da_lang)

to remove the word blah2 for the list, its at location 3, Soooo
['python', 'R', 'SAS', 'C', 'C++', 'Scala']

In [26]:
#to add to the list at the end
print("Adding a new language (Ruby) to the list, ")
da_lang.append("Ruby")
print(da_lang)

Adding a new language (Ruby) to the list,
['python', 'R', 'SAS', 'C', 'C++', 'Scala', 'Ruby']

In [27]:
#adding to any specific location
print(da_lang)
da_lang.insert(0,'English')  ###inserting the word English at 0th Location
print(da_lang)

['python', 'R', 'SAS', 'C', 'C++', 'Scala', 'Ruby']
['English', 'python', 'R', 'SAS', 'C', 'C++', 'Scala', 'Ruby']

In [28]:
#Updating the values of the list
#Changing English to Malayalam

print("Before \n",da_lang)
da_lang[0]='Malayalam'
print("\nAfter\n",da_lang)

Before
 ['English', 'python', 'R', 'SAS', 'C', 'C++', 'Scala', 'Ruby']

After
 ['Malayalam', 'python', 'R', 'SAS', 'C', 'C++', 'Scala', 'Ruby']

In [29]:
#Numeric operations in list

nums=[3,8,12,5,9]
print(nums)
print("sorted nums",sorted(nums))
print("length of nums",len(nums))
print("max of nums",max(nums))
print("min of nums",min(nums))

[3, 8, 12, 5, 9]
sorted nums [3, 5, 8, 9, 12]
length of nums 5
max of nums 12
min of nums 3

In [30]:
#nested list
nest_list = [[1,2,3],[4,5,6]]
print(nest_list)

nest_list[1][1]

[[1, 2, 3], [4, 5, 6]]

5

### Tuples

it is very much similar to list, but it cannot be edited <br> so pop append insert etc functions will not work in tuples
it is denoted by () brackets

In [31]:
tup=("a","b","c")
print(tup)
print(type(tup))

('a', 'b', 'c')
<class 'tuple'>

In [32]:
# to change a tuple to a list
da_tup = list(tup)

In [33]:
type(da_tup)

list

In [34]:
#to convet a list to a tuple
tup_2 = tuple(da_tup)
type(tup_2)

tuple

### Dictionary

Data is stored in a key value pair, for example <br> roll no 1 : ram <br> roll no 2 : pavi <br> roll no 3 : ravi <br>
so when roll no 2 is called its corresponding value is retrived and used.

In [35]:
creds = {'user_1' : 'London', 'user_2' : 'Lisbon', 'user_3': 'Paris'}
print(creds)

{'user_1': 'London', 'user_2': 'Lisbon', 'user_3': 'Paris'}

In [36]:
print(creds['user_2'])

Lisbon

#### Nested Dictonary

In [37]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [38]:
myfamily["child1"]["year"]

2004

In [39]:
myfamily.get("child1").get("year")

2004

### Sets

set is an unordered collection of unique elements.

In [40]:
seta = [1,2,3,1,2,5,4,6]
setb = [7,5,5,6,1,2,9,10]
print(type(seta))
set_a =set(seta)
set_b =set(setb)

print("\n",set_a)
print(type(set_a))

print("\n",set_b)
print(type(set_b))

<class 'list'>

 {1, 2, 3, 4, 5, 6}
<class 'set'>

 {1, 2, 5, 6, 7, 9, 10}
<class 'set'>

In [41]:
#what are all the elements present in set_a and not in set_b
set_a.difference(set_b)

{3, 4}

In [42]:
#combining both the sets together
set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [43]:
#inetsection  --> it prints out the common in  both
set_a.intersection(set_b)

{1, 2, 5, 6}

In [44]:
#inetsection update --> update the result form intersection to seta || inshort replace seta with the  intersection value.
set_a.intersection_update(set_b)
print(set_b)

{1, 2, 5, 6, 7, 9, 10}

In [45]:
set_a

{1, 2, 5, 6}

## Day 2

### Conditions - If Else Statement

the 3 statemensts are<br>1) if <br> 2) else <br> 3) elif --> else-if

In [46]:
#eg
print("enter a value for score between 0-100")
score =int(input())

enter a value for score between 0-100
75

In [47]:
if score == 100:
    print("Perfect")
elif 85<=score<100 :
    print("Distinction")
elif 70<=score<85 :
    print("First Class")
elif 55<=score<70 :
    print("Second Class")
elif 40<=score<45 :
    print("Third Class")
else :
    print("Failed")

First Class

#### Multiple statements in a single line.

In [48]:
ER0 = 330
ER1 = 350
print("ER0") if ER0 > ER1 else print("=") if ER0 == ER1 else print("ER1")

ER1

### Looping Statements

##### For Loop

In [49]:
#here in (0,31,3) || 0 --> starting ; 31 --> Ending ; 3 --> increment 
for i in range(0,31,3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30

##### While Loop

In [50]:
#While Loop  || No predefined execution limit
start =20;
total =0;

while start<=50 :
    total+=start
    start+=5
    print(start)  ### till here is the body of the while loop function.
######end of loop
print("the total value is:",total)

25
30
35
40
45
50
55
the total value is: 245

### Nested Loops

A nested loop is a loop inside a loop. <br>
The "inner loop" will be executed one time for each iteration of the "outer loop":

In [51]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### Break and Continue

In [52]:
#normal while loop
i = 0
while i < 6:
  print(i)
  i += 1

0
1
2
3
4
5

In [53]:
### break statement, stopping at the point 3
i = 0
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

0
1
2
3

In [54]:
### Continue statement, skipp step 3
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### Comprehensions

In [55]:
square_lst =[]
sqr_lst=[]

In [56]:
#method 1 for printing square for a range of numbers 
for x in range (1,11,1) :
    square_lst.append(x**2)
    
print(square_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
#method 2 for printing square for a range of numbers
sqr_lst=[(x**2) for x in range(1,11,1)]
print(sqr_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
para =["There was a fox", "which was brown in color", " it ran fast"]
wd_lst =[]

for sentence in para :
    for words in sentence.split():
        wd_lst.append(words)
        
print(wd_lst)

['There', 'was', 'a', 'fox', 'which', 'was', 'brown', 'in', 'color', 'it', 'ran', 'fast']

In [59]:
wrd_lst = [words for sentence in para for words in sentence.split()]
print(wrd_lst)

['There', 'was', 'a', 'fox', 'which', 'was', 'brown', 'in', 'color', 'it', 'ran', 'fast']

### Functions

Function is any set of code. mostly used to run the same set of task at multiple sections in the program

#### Syntax as follows
def function_name(vaiable_optional) :  <br>
     scope_of_the_function             <br>
     reutn(x)

In [60]:
#sample function --> usually defined before use.
def sq(num) :
    out=num**2;
    return(out)

In [61]:
sq(5)

25

##### default value in a function

In [62]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("India")
my_function()

I am from India
I am from Norway

##### when the number of argument to be passed to a function is unknow <br> add "**" before the parameter name: <br> here the parameter is name

In [63]:
def my_function(**name):
  print("His last name is " + name["lname"])

my_function(fname = "Sanju", lname = "Sreenath")

His last name is Sreenath

#### Passing a List as an Argument

In [64]:
def my_function(my_arg):
  for x in my_arg:
    print(x)

Cars = ["Audi", "VW", "Honda", "Fiat", "Ford"]

my_function(Cars)

Audi
VW
Honda
Fiat
Ford

## Lambda Function
function on the fly

In [65]:
#eg
str_to_lst = lambda x : x.split();
product = lambda x,y,z : (x*y)**z;
sqr =lambda x : x**2;

In [66]:
str_to_lst(input())

hello there how are you?

['hello', 'there', 'how', 'are', 'you?']

In [67]:
product(2,3,4) - product(3,3,3)

567

In [68]:
sqr(5)

25

### Map, Reduce, Filter

##### Map 
It applies the function to all the elements of an input list <br>
syntax is as follows <br>
map(function_to_apply,list_of_inputs)

In [69]:
my_list = list(range(1,11,1))  ## creating a list with values from 1 to 10
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
squared_values =list(map(sqr,my_list))   ## squaring the elements form my_list and assigining it to squared_list
#we are using map function for the same, here we are reusing an existing function sqr
print(squared_values)  ## printing the squared value.

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
squared_values =list(map(sq,my_list))  ## here we use another squaring function, which produces same result.
print(squared_values)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
#instead of list of inputs we can give list of functions
#eg

def mul(x):
    return(x*x);
def add(x):
    return(x+x);

funct=[mul,add]

In [73]:
lst_fncts=[]
for i in range(1,5):
    lst_fncts= list(map(lambda x:x(i),funct))
    print(lst_fncts)    
    
## here number 1 to 5 are genereated as part of range
## then list "funct" has 2 custom functions, and the numbers generated is passed to both the custom functions

[1, 2]
[4, 4]
[9, 6]
[16, 8]

##### Filter 
It applies the function to all the elements of an input list <br> and retuens only those which matches the conditions <br>
syntax is as follows <br>
map(function_to_apply,list_of_inputs)

In [74]:
#eg
print(my_list)
less_than_5 = list(filter(lambda x : x <5 , my_list))

print(less_than_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4]

##### Reduce
It is used for computation of all the elements of an input list <br>

In [75]:
import functools as ft

In [76]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
#using my_list from above
#function to add all the elements of the list
ft.reduce(lambda a,b : a+b , my_list)  
#its equivalent of 1+2+3+4+5+6+7+8+9+0

55

my_list has values form 1 to 10 <br>
here the first element form the list is assigned to 'a', then second element to 'b'. Then a and b are added to get 3 (1+2) <br>
then the value 3 (1+2) is assigned to a and b is assigned with the next element form the list.<br>
and this continues till the end of the list

In [78]:
#example 2
F = lambda x, y : x if (x>y) else y ### function to find largest number.
F_list = [6,5,6,34,6,1,3,45,58,75,77]

In [79]:
ft.reduce(F,F_list)
#the explanation is similar to the above example.

77

## Python Classes/Objects

#### A Class is like an object constructor, or a "blueprint" for creating objects. <br> Create a class named Person, use the __init__() function to assign values for name and age:

In [80]:
class Person:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex


p1 = Person("Sanju", 31, "M")
p2 = Person("Sreenath", 27, "M")

print(p1)

<__main__.Person object at 0x000001E900B06D48>

In [81]:
print(p1.name+" "+p2.name)

Sanju Sreenath

In [82]:
#Insert a function that prints a greeting, and execute it on the p1 object:

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Sanju", 31)
p1.myfunc()

Hello my name is Sanju

## File Handling,

In [83]:
import os

In [84]:
## Function to read file
def print_file(filename = "demofile.txt") :
	f = open(filename,"r")
	print(f.read())
	f.close()
    
#here the default print file is demofile.txt
#to print anyother file in the same folder provide filename, PFB an example

In [85]:
print_file("dsk_test.txt")

hello there
this is the
second test file to see
whether the function wokrs fine or not

In [86]:
#checking the presence of files and deleting if its present
if os.path.exists("demofile.txt"):
  os.remove("demofile.txt")
  print("The file was present and is removed.")
else:
  print("The file does not exist.")

The file was present and is removed.

In [87]:
#creating a file

f = open("demofile.txt","w")
f.write("Hello there this is a test file and hope you're doing well. Take Care.")
f.close()

In [88]:
print_file()

Hello there this is a test file and hope you're doing well. Take Care.

In [89]:
#upending a file

f = open("demofile.txt","a")
f.write("Lets now append this line at to the existing file, consider this test 2")
f.close()

In [90]:
print_file()

Hello there this is a test file and hope you're doing well. Take Care.Lets now append this line at to the existing file, consider this test 2